/* Style de base pour chaque sneaker item */
.sneaker-item {
  position: relative;  /* Nécessaire pour le positionnement du badge */
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;  /* Réduit de 20px à 15px */
  transition: all 0.3s ease;
  border: 1px solid #e5e7eb;
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
}
/* Section des avis */
.sneaker-review {
  border-top: 1px solid #e5e7eb;
  padding-top: 12px;     
  margin-top: 12px;  
}
.sneaker-review > div {
  margin: 6px 0;     
  display: flex;
  align-items: center;
  gap: 8px;
}

.sneaker_image{
  width: 80%;
  height: 140px;
  border-radius: 8px;
  margin: 0 auto 12px auto;
  object-fit: cover;
  display: block;
}

/* Style de base pour chaque sneaker item */
.best-seller-badge{
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ff4444;
  color: white;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.7rem;
  font-weight: bold;
}

.sneaker-item.best-seller {
  border: 2px solid gold;
  box-shadow: 0 4px 20px rgba(255, 215, 0, 0.3);
  transform: translateY(-2px);
}

/* Hover spécifique pour les best-sellers */
.sneaker-item.best-seller:hover {
  transform: translateY(-7px);  
  box-shadow: 0 8px 25px rgba(255, 215, 0, 0.4);
}
.sneaker-item:hover {
  transform: translateY(-7px);  
  box-shadow: 0 8px 25px rgba(90, 87, 73, 0.4);
}

.sneaker-style {
  border: 2px ;
  background: #e5e7eb;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: bold;
}

.sneaker-price {
  color: green;
  font-weight: bold;
}

.avis-details{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}
